---
// Component Imports
import { getCollection } from "astro:content";
import { format } from "date-fns";
// import Counter from "../components/Counter";
// import GreetingCard from "../components/greeting/GreetingCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const blogEntries = await getCollection("blog");

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout>
  <div class="mx-auto w-full max-w-6xl px-4 py-6 sm:px-6 lg:px-8">
    <ul>
      {
        blogEntries
          .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
          .filter((item) => !item.data.draft)
          .map((entry) => (
            <li class="hover:bg-gray-100 dark:hover:bg-gray-800 rounded-md">
              <a href={`/posts/${entry.slug}`} class="sm:py-4 block px-2 py-2">
                <div class="gap-x-4 sm:flex items-center justify-between">
                  <div class="sm:text-xl text-lg">{entry.data.title}</div>

                  <div class="sm:flex flex-1 hidden border-b border-gray-300 border-dashed" />

                  <time
                    datetime={entry.data.date.toISOString()}
                    class="sm:text-base text-sm text-gray-500"
                  >
                    {format(entry.data.date, "MMM d, yyyy")}
                  </time>
                </div>
              </a>
            </li>
          ))
      }
    </ul>
  </div>
</BaseLayout>
