---
// Component Imports
import { getCollection } from "astro:content";
// import Counter from "../components/Counter";
// import GreetingCard from "../components/greeting/GreetingCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const blogEntries = await getCollection("blog");

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout>
  <div class="max-w-2xl px-4 py-6 m-auto">
    <ul>
      {
        blogEntries
          .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
          .filter((item) => !item.data.draft)
          .map((entry) => (
            <li class="mb-4">
              <div class="mb-1 text-xl">
                <a href={`/posts/${entry.slug}`} class:list={[]}>
                  {entry.data.title}
                </a>
              </div>
              <div class="text-left text-gray-500">
                <time datetime={entry.data.date.toISOString()} class="mr-2 text-sm italic">
                  {entry.data.date.toLocaleString()}
                </time>
              </div>
            </li>
          ))
      }
    </ul>
  </div>
</BaseLayout>
