---
// Component Imports
import { getCollection } from "astro:content";
import Counter from "../components/Counter";
import GreetingCard from "../components/greeting/GreetingCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const blogEntries = await getCollection("blog");

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout>
	<div class="py-6 px-4 m-auto max-w-3xl">
		<ul>
			{
				blogEntries
					.sort(
						(a, b) => b.data.date.valueOf() - a.data.date.valueOf()
					)
					.map((blogPostEntry) => (
						<li class="mb-4">
							<div class="text-xl mb-2">
								<a href={`/posts/${blogPostEntry.slug}`}>
									{blogPostEntry.data.title}
								</a>
							</div>
							<time
								class='text-right text-gray-500'
								datetime={blogPostEntry.data.date.toISOString()}
							>
								{blogPostEntry.data.date.toLocaleString()}
							</time>
						</li>
					))
			}
		</ul>
	</div>
</BaseLayout>
