---
// Component Imports
import { getCollection } from "astro:content";
import Counter from "../components/Counter";
import GreetingCard from "../components/greeting/GreetingCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const blogEntries = await getCollection("blog");

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout>
	<div class="p-6">
		<ul>
			{
				blogEntries
					.sort(
						(a, b) => b.data.date.valueOf() - a.data.date.valueOf()
					)
					.map((blogPostEntry) => (
						<li>
							<a href={`/posts/${blogPostEntry.slug}`}>
								{blogPostEntry.data.title}
							</a>
							<time
								datetime={blogPostEntry.data.date.toISOString()}
							>
								{blogPostEntry.data.date.toLocaleString()}
							</time>
						</li>
					))
			}
		</ul>
	</div>
</BaseLayout>
