---
import { getEntry } from "astro:content";
import PostLayout from "../layouts/PostLayout.astro";

const post1 = await getEntry("blog", "a-bite-of-cookie")!;

const { Content, headings } = await post1.render();
---

<PostLayout>
    <br />
    headings: 
    <ul>
        {
            headings.map((v) => {
                return <li>{v.slug}</li>;
            })
        }
    </ul>
    <br />
    <Content />
</PostLayout>
