---
import { Sun, Moon } from "lucide-react";
---

<button id="themeToggle" class="hover:text-primary transition-colors">
  <Sun className="sun" size={20} />
  <Moon className="moon" size={20} />
</button>

<style>
  #themeToggle {
    border: 0;
    background: none;
    padding: 0;
  }
  .sun {
    display: block;
  }
  .moon {
    display: none;
  }

  :global(.dark) .sun {
    display: none;
  }
  :global(.dark) .moon {
    display: block;
  }
</style>

