---
import BaseHead from "../components/BaseHead";
import Footer from "../components/Footer";
import NavHeader from "../components/NavHeader.astro";
import "../styles/global.css";
// import ReloadPrompt from '../components/ReloadPrompt.astro';

type Props = {
  pageTitle?: string;
  showNav?: boolean;
};

const { pageTitle, showNav = true } = Astro.props;
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="/favicon.ico" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Your Site's Title"
      href={new URL("rss.xml", Astro.site)}
    />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      const setLight = () => {
        const el = document.documentElement;
        el.classList.remove("dark");
        el.classList.add("light");
      };
      const setDark = () => {
        const el = document.documentElement;
        el.classList.add("dark");
        el.classList.remove("light");
      };

      if (theme === "light") {
        setLight();
      } else {
        setDark();
      }

      window.localStorage.setItem("theme", theme);

      const handleToggleClick = () => {
        const el = document.documentElement;
        const _isDark = el.classList.contains("dark");
        if (_isDark) {
          setLight();
        } else {
          setDark();
        }
        const isDark = el.classList.contains("dark");
        localStorage.setItem("theme", isDark ? "dark" : "light");
      };

      document.addEventListener("DOMContentLoaded", function () {
        document
          .getElementById("themeToggle")
          ?.addEventListener("click", handleToggleClick);
      });
    </script>
    <BaseHead title={pageTitle} />
  </head>

  <body class="dark:text-white font-sans antialiased">
    {showNav && <NavHeader />}
    <main>
      <!-- your content is injected here -->
      <slot />
    </main>
    <!-- <ReloadPrompt /> -->
    <Footer />
  </body>
</html>
