---
import BaseLayout from "./BaseLayout.astro";
import type { MarkdownLayoutProps } from "astro";
import Disqus from "./Disqus.astro";

interface Titles {
    title?: string;
    pageTitle?: string;
}

type Props = MarkdownLayoutProps<Titles> | Titles;
const { pageTitle, title } = (Astro.props as any).frontmatter || Astro.props;
---

<BaseLayout pageTitle={pageTitle || title}>
    <article
        class="px-4 prose m-auto max-w-3xl prose-img:rounded dark:prose-invert prose-headings:mt-4 prose-hr:my-4 prose-hr:border prose-hr:border-dashed prose-hr:border-gray-400"
    >
        <slot />
    </article>
    <div class="max-w-3xl m-auto px-4">
        <Disqus />
    </div>
</BaseLayout>

<style is:global>
    /* article h1 {
        text-align: center !important;
    } */
</style>
